body {
	background: #EFEFF2;
	margin: 0;
	font: 400 16px/24px 'Inter', sans-serif;
	color: #19191C;
}

/* p{
	margin: 0;
	padding: 0;
} */

h1{
	margin: 0;
	padding: 0;
}

h2{
	margin: 0;
	padding: 0;
}

.navListRef {
	text-decoration: none;
	color: #19191C;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.logo {
	align-items: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: 800;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	color: #19191C;
}

.logoText{
	align-items: center;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 47px 0 0 0;
	align-items: center;

}

.header_box {
	display: flex;
	font-size: 24px;
	font-weight: 800;
	line-height: 29px;
	align-items: center;
}

.nav_list {
	display: flex;
	list-style: none;
	gap: 48px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	padding-left: 68px;

}

.trialFree {
	padding: 12px 37px 12px 37px;
	background: #19191C;
	color: #EFEFF2;
	text-decoration: none;
}

.btn_box {
	display: flex;
	gap: 48px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	align-items: center;
}

/* MAIN */

.offer {
	display: flex;
	background: url(../img/woomen.png) 130% 110% no-repeat;
	justify-content: space-between;	
	align-items: flex-start;
	padding:167px 0 0 0;
}

.offerHolder{
	background: url(../img/bg1.png) no-repeat;
	width: 648px;
	height: 832px;
}

.offer__duration{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	margin-bottom: 32px;

}

.offer___title{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.offer__name__title{
	font-size: 68px;
	font-weight: 700;
	line-height: 71px;
	margin: 0;
	padding: 0;
}

.offer__description{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	padding: 0;
	margin: 48px 0 50px 0;
}

.start {
	padding: 16px 37px;
	background: #504DEE;
	color: #FBFBFC;
	border: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	margin: 0 0 110px 0;
}

.offer__sale{
	font-size: 58px;
	font-weight: 700;
	line-height: 71px;
	margin: 0 0 8px 0;
	padding: 0;
}

.offer__time{
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	margin: 0;
	padding: 0;
}


.offer__list{
	list-style: none;
	position: relative;
	align-self: flex-start;
	padding: 0;
	margin: 0;
}


.offer__marker{
	border: 2px solid #19191C;
	margin: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	padding: 16px 36px;
	position: absolute;
}

.offerInVision{
	top: 75px;
	right: 0px;
}

.offerProtoPie{
	top: 0px;
	right: 260px;
}


.offerMiro{
	top: 85px;
	right: 530px;
}


.offerPhotoshop{
	top: 240px;
	right: 505px;
}


.offerFigma{
	top: 400px;
	right: 700px;
}


.offerIllustrator{
	top: 580px;
	right: 630px;
}

/* ПОД ФОТО */

.info{
	margin-top: 168px;
}

.info__content{
	display: flex;
	justify-content: space-between;
	margin-bottom: 168px;
}

.info__title{
	font-size: 58px;
	font-weight: 700;
	line-height: 70px;
}

.info_text{
	font-size: 18x;
	font-weight: 400;
	line-height: 28px;
	color: #6D6D77;
}

.info__amount{
	font-size: 58px;
	font-weight: 700;
	line-height: 70px;
	margin: 0;
	padding: 0;
}


.info__vacation{
		font-size: 58px;
		font-weight: 700;
		line-height: 70px;
		margin: 0;
		padding: 0;
}

.info_first_descr{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	padding: 0;
	border-bottom: 4px solid #19191C;
	padding-bottom: 28px;
	align-items: center;
}

.info_second_descr{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #6D6D77;
	padding: 0;
	
}

.info_down{
	display: flex;
	margin-bottom: 171px;
	gap: 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.info__portfolio{
	width: 467px;
	background-color: #DEEFE4;
	padding: 68px 50px 68px 48px;
}

.info__internship{
	width: 467px;
	background-color: #F3F3D7;
	padding: 68px 50px 68px 48px;
}

.info__certificate{
	width: 467px;
	background-color: #EFDEEE;
	padding: 68px 50px 68px 48px;
}

.info_name{
	font-size: 34px;
	font-weight: 700;
	line-height: 41px;
	border-bottom: 4px solid #19191C;
}

/* DISCOVER OUT */

.discover{
	margin: 0;
	padding: 0;
	font-size: 58px;
	font-weight: 700;
	line-height: 70px;
}

.price__card{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	gap: 20px;
}

.base{
	background-color: #DEEFE4;
	width: 467px;
	padding: 48px 0 51px 68px;
}

.optimal{
	background-color: #504DEE;
	width: 467px;
	padding: 48px 0 51px 68px;
}

.premium{
	background-color: #DEEFE4;
	width: 467px;
	padding: 48px 0 51px 68px;
}

.base_name{
	font-size: 34px;
	font-weight: 700;
	line-height: 41px;
}

.optimal_name{
	font-size: 34px;
	font-weight: 700;
	line-height: 41px;
	color: #FBFBFC;
}

.price__list{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
	padding-left: 20px;
	list-style-type: square
}

.price__list_white{
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #FBFBFC;
	letter-spacing: 0em;
	text-align: left;
	align-items: center;
	padding-left: 20px;
	list-style-type: square
}

.price__high_left{
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	color: #6D6D77;
	padding: 0;
	margin: 164px 0 0 0;
}

.price__lower_left{
	font-size: 58px;
	font-weight: 700;
	line-height: 71px;
	color: #19191C;
	padding: 0;
	margin: 0;
}

.price__high_middle{
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	color: #FBFBFC;
	padding: 0;
	margin: 82px 0 0 0;
}

.price__lower_middle{
	font-size: 58px;
	font-weight: 700;
	line-height: 71px;
	color: #FBFBFC;
	padding: 0;
	margin: 0;
}

.price__high_right{#19191C
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	color: #6D6D77;
	padding: 0;
	margin: 85px 0 0 0;
}

.price__lower_right{
	font-size: 58px;
	font-weight: 700;
	line-height: 71px;
	color: #19191C;
	padding: 0;
	margin: 0;
}


.price_list_white_li{
	padding-bottom: 20px;
}

.price_list_li{
	padding-bottom: 20px;
}

.choose{
	padding: 16px 36px 16px 36px;
	background-color: #19191C;
	color: #FBFBFC;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	border: none;
}

.choose__white{
	padding: 16px 36px 16px 36px;
	background-color: #FBFBFC;
	color: #504DEE;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	border: none;

}

/* FOOTER */

footer{
	background: #19191C;
	margin-top: 168px;
	padding-top: 68px;
}

.siteMapRef{
	color: #EFEFF2;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 12px;
	letter-spacing: 0em;
}

.sitemap__title{
	color: #FBFBFC;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	text-align: start;
	margin: 0 0 28px 0;
	padding: 0;
}

.sitemap__list{
	list-style: none;
}

.copyright{
	text-align: center;
	color: #6D6D77;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	padding-top: 100px;
}

.copyrightRef{
	text-decoration: none;
	text-align: center;
	color: #6D6D77;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	margin-right: 28px;
}

.contactsHolder{
	display: flex;
}

.sitemap{
	text-align: start;
}

.siteMapHolder{
	display: flex;
	gap: 200px;
	margin: 0;
	padding: 0;
}

.contactsRef{
	text-decoration: none;
	color: #FBFBFC;
	font-size: 24px;
	font-weight: 600;
	line-height: 29px;
	display: block;
}

.contactsLogoRef{
	text-decoration: none;
	color: #FBFBFC;
	font-size: 18px;
	font-weight: 800;
	line-height: 22px;
	display: block;
	margin-bottom: 48px;
	align-items: center;
}

.contactsRef{
	margin-bottom: 28px;
}


/* Adaptive */

@media screen and (min-width: 768px) and (max-width: 1440px) {
	.container {
		width: auto;
	}

	.header {
		display: flex;
		justify-content: space-between;
		padding: 47px 0 0 0;
		align-items: center;
	}
	
	.header_box {
		display: flex;
		font-size: 24px;
		font-weight: 800;
		line-height: 29px;
		align-items: center;
		flex-wrap: wrap;
	}
	.nav_list {
		display: flex;
		list-style: none;
		gap: 48px;
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		padding-left: 68px;
	}

	
	.offerInVision{
		display: none;
			}
		
			.offerProtoPie{
		display: none;
			}
		
		
			.offerMiro{
		display: none;
			}
		
		
			.offerPhotoshop{
		display: none;
			}
		
		
			.offerFigma{
		display: none;
			}
		
		
			.offerIllustrator{
		display: none;
			}

	.offer {
		background: url(../img/woomen.png) 130% 110% no-repeat;
		width: auto;
		height: auto;
	}

	.offerHolder{

		background: url(../img/bg1.png) no-repeat;
		width: auto;
		height: auto;
	}

	.offer__list{
		list-style: none;
		position: relative;
		align-self: flex-start;
		padding: 0;
		margin: 0;
	}
	.info__content{
		display: flex;
		justify-content: space-between;
		margin-bottom: 168px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.info_down{
		display: flex;
		margin-bottom: 171px;
		gap: 20px;
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.price__card{
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.contactsHolder{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.siteMapHolder{
		display: flex;
		gap: 200px;
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.discover{
		text-align: center;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.container {
		width: auto;
	}

	.header {
		display: flex;
		justify-content: space-between;
		padding: 47px 0 0 0;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.header_box {
		display: flex;
		font-size: 24px;
		font-weight: 800;
		line-height: 29px;
		align-items: center;
		flex-wrap: wrap;
	}
	.nav_list {
		display: flex;
		list-style: none;
		gap: 48px;
		margin: 0;
		padding: 0;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		padding-left: 68px;
	}

	
	.offerInVision{
display: none;
	}

	.offerProtoPie{
display: none;
	}


	.offerMiro{
display: none;
	}


	.offerPhotoshop{
display: none;
	}


	.offerFigma{
display: none;
	}


	.offerIllustrator{
display: none;
	}

	.offer {
		background: url(../img/woomen.png) 130% 110% no-repeat;
		width: auto;
		height: auto;
	}

	.offerHolder{

		background: url(../img/bg1.png) no-repeat;
		width: auto;
		height: auto;
	}

	.offer__list{
		list-style: none;
		position: relative;
		align-self: flex-start;
		padding: 0;
		margin: 0;
	}
	.info__content{
		display: flex;
		justify-content: space-between;
		margin-bottom: 168px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.info_down{
		display: flex;
		margin-bottom: 171px;
		gap: 20px;
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.price__card{
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.contactsHolder{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.siteMapHolder{
		display: flex;
		gap: 200px;
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.discover{
		text-align: center;
	}
}