body {
  background: url(../img/tv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Inter;
  font-weight: 500;
  color: white;
}

li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #fff;
  padding: 10px;
  justify-content: space-between;
}

.raketa_img_header {
  margin-left: 10px;
}

.race_name {
  font-size: 20px;
  margin-right: 400px;
}

/* Покруговка !! */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  color: #fff;
  position: absolute;
  z-index: 1;
  margin-left: 110px;
  margin-top: 150px;
}

.laps {
  overflow: scroll; /* Добавляем полосы прокрутки */
  height: 200px; /* Высота блока */
  padding: 5px 20px 5px 20px; /* Поля вокруг текста */
  background-color: rgb(85, 85, 85, 0.9);
  border-radius: 20px;
  font-size: 15px;
}

.popup:hover {
  color: rgb(0, 255, 0);
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Конец покруговки ! */

input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px 10px 0 10px;
}

.inp_data_name {
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.data_name {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.time {
  font-size: 40px;
}

.data_info_holder {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team {
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: space-between;
  margin-top: 5px;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.data_info_driver {
  margin-left: 55px;
}

.data_info_last_time {
  margin-right: 15px;
}

.data_info_avg {
  margin-left: 60px;
}

.team_number {
  width: 40px;
}

.team_driver {
  width: 100px;
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: start;
}

.pro {
  background: rgb(255, 0, 0);
  border-radius: 5px;
}

.street {
  background: rgb(255, 204, 0);
  border-radius: 5px;
}

.autolife {
  background: rgb(0, 255, 51);
  border-radius: 5px;
}

.raketa {
  background: violet;
}

.best {
  background: violet;
}

.worse {
  background: red;
}

.better {
  background: rgb(0, 255, 0);
}

.probably_soon_pit {
  background: rgb(0, 255, 0);
}

.early {
  background: red;
}

.drova {
  background: red;
}

.team_driver,
.team_avg_time,
.team_last_time,
.team_previous_time,
.team_stint_time {
  border-radius: 5px;
  width: 65px;
}

.copyright {
  background-color: rgb(0, 0, 0, 0.2);
  padding: 25px 0 25px 0;
  text-align: center;
  margin-top: 20px;
}

/* .data_info_team,
.data_info_driver,
.data_info_avg,
.data_info_last_time,
.data_info_previous_time,
.data_info_stint_time {
  width: 7em;
} */

.in_pit {
  background: rgba(246, 255, 0, 0.6);
}

@media screen and (max-width: 1439px) and (min-width: 481px) {
  .data_name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .inp_data_name {
    padding: 2px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 10px;
  }

  .container {
    padding: 1em 0 0 0;
  }

  .data_info_driver {
    margin-left: 0;
  }

  .data_info_last_time {
    margin-right: 0;
  }

  .data_info_avg {
    margin-left: 0;
  }

  .time {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .data_name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container {
    padding: 1em 0 0 0;
  }

  .data_info_driver {
    margin-left: 2em;
  }

  .data_info_last_time {
    margin-right: 0;
    padding-left: 0;
  }

  .data_info_avg {
    margin-left: 0.5em;
  }

  .data_info_team {
    padding-left: 0.5em;
  }

  .data_info_holder {
    font-size: 13px;
    word-break: normal;
    margin-top: 10px;
  }

  .time {
    text-align: center;
    font-size: 20px;
  }

  .team {
    font-size: 12px;
  }

  .raketa_img {
    width: 12px;
    height: 12px;
  }

  .team_driver,
  .team_avg_time,
  .team_last_time,
  .team_previous_time,
  .team_stint_time {
    border-radius: 5px;
    width: 40px;
  }

  .team_number {
    width: 25px;
  }

  .race_name {
    font-size: 15px;
    margin-right: 0;
    margin-left: 10px;
  }

  .raketa_img_header {
    width: 50px;
    height: 50px;
  }

  .inp_data_name {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 13px;
  }

  .copyright {
    font-size: 10px;
    padding: 5px 0 5px 0;
    margin-top: 5px;
  }

  .data_name {
    margin-top: 10px;
  }

  .header {
    margin-bottom: 0px;
  }
}

/* @media screen and (max-width: 570px) {
  .raketa_img {
    display: none;
  }
} */
