* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	/* font-family: 'Montserrat', sans-serif;
	font-family: 'Volkhov', serif; */
}

a{
	text-decoration: none;
	color: inherit;
}
li{
	text-decoration: none;
}

.container {
	margin: 48px 135px 0 135px;
}

.containerForHeader{
	padding-top: 1px;
	background: url(../image/Decore.png) 105% 0%;
	background-repeat: no-repeat;
}

.header{
	background: url(../image/traveller-1.png) 100% 100%;
	background-repeat: no-repeat;
	padding-bottom: 105px;
}

.menuHolder{
	display: flex;
	justify-content: space-between;
}

.navMenu{
font-weight: 400;
font-size: 17px;
color: var(--1st, #212832);
text-decoration: none;
list-style: none;
display: flex;
gap: 60px;
}

.main{
	margin-top: 134px;
}

.minTagline{
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #DF6951;
	font-style: normal;
}

.mainHeading{
	font-weight: 700;
	font-size: 84px;
	font-family: Volkhov;
	font-style: normal;
	margin-top: 24px;
	line-height: 89px;
	letter-spacing: -3.36px;
	color: var(--1st, #181E4B);
}

.maidDesc{
	line-height: 30px;
	color: #5E6282;	
}

.find{
	display: flex;
	align-items: center;
	margin-top: 34px;
}

.findBtn{
	color: var(--white, #FFF);
	text-align: center;
	font-size: 18px;
	padding: 18px 26px;
	border-style: none;
	border-radius: 10px;
	background: var(--yellow, #F1A501);	
}

.playRef{
	text-decoration: none;
	color: var(--text-color, #686D77);
	font-size: 17px;
}

.play{
	max-height: 80px;
}

.category{
	font-weight: 600;
	font-size: 18px;
	color: var(--TEXT-CLR, #5E6282);	
	text-align: center;
	margin-bottom: 10px;	
}

.offerServices{
	font-weight: 700;
	font-size: 50px;
	font-family: Volkhov;
	text-align: center;
	color: var(--3rd, #14183E);
}

.offerTitle{
	font-weight: 600;
	font-size: 20px;
	font-family: Open Sans;
	color: var(--text-heading-color, #1E1D4C);
	margin-bottom: 15px;
	
}

.offerDescr{
	color: var(--TEXT-CLR, #5E6282);
	text-align: center;
	line-height: 26px;
	display: flex;
	margin-top: 68px;
	justify-content: space-between;
	align-items: center;
}

.flights{
	padding: 0 42px 45px 44px;
	border-radius: 36px;
	background: var(--white, #FFF);
	box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
	
}

.topSubheading{
	font-weight: 600;
	font-size: 18px;
	color: var(--TEXT-CLR, #5E6282);	
	text-align: center;
	margin-bottom: 8px;
	margin-top: 156px;;
}

.topHeading{
	font-weight: 700;
	font-size: 50px;
	font-family: Volkhov;
	text-align: center;
	color: var(--3rd, #14183E);
	margin-bottom: 60px;
}

.top{
	margin-bottom: 20px;
}

.topHolder{
	display: flex;
	justify-content: space-between;
	gap: 60px;
}

.uk{
	padding-bottom: 50px;
	border-radius: 24px;
	box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);	
}

.europe{
	border-radius: 24px;
	box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);	
}


.italy{
	border-radius: 24px;
	box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);	
	align-items: center;
}

.price{
	display: flex;
	justify-content: space-between;
	margin: 10px 20px 10px 20px;
}

.daysTrip{
	margin: 0 20px 0 20px;
	padding-bottom: 12px;
}

.days{
	margin-left: 5px;
}


.book{
	display: flex;
	justify-content: space-around;
	margin-top: 186px;
}

.bookSubheading{
	font-size: 18px;
	font-weight: 600;
	color: var(--TEXT-CLR, #5E6282);	
}

.bookHeading{
	color: var(--3rd, #14183E);
	font-family: Volkhov;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	margin-top: 15px;
	margin-bottom: 31px;
}

.chooseTitle{
	color: var(--TEXT-CLR, #5E6282);
	font-weight: 700;
	line-height: 124.5%;
	margin-bottom: 5px;
	
}

.chooseText{
	color: var(--TEXT-CLR, #5E6282);
	font-weight: 400;
	line-height: 124.5%;
}

.chooseWrapper{
	display: flex;
	align-items: start;
	margin-top: 48px;
	gap: 21px;
}

.bookCard{
	padding: 20px 25px 0 25px;
	border-radius: 26px;
	background: var(--white, #FFF);
	height: 400px;
	box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.tripTitle{
	font-size: 18px;
	letter-spacing: 0.27px;
	line-height: 124.5%;
	color: var(--black, #080809);
	margin-top: 26px;
	margin-bottom: 13px;
}

.tripDate{
	color: var(--text-2, #84829A);
	line-height: 124.5%;
	letter-spacing: -0.08px;
	margin-bottom: 21px;
}

.bookRef{
	display: flex;
	gap: 15px;
	margin-bottom: 40px;
}

.people{
	display: flex;
	align-items: start;
}

.peopleQuantity{
	line-height: 124.5%;
	letter-spacing: -0.32px;
	color: var(--text-2, #84829A);
	margin-right: 143px;
	margin-left: 15px;
}

.reviewsSubheading{
	color: var(--TEXT-CLR, #5E6282);
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	
}

.reviewsHeading{
	color: var(--3rd, #14183E);
	font-family: Volkhov;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	
}

.reviews{
	display: flex;
	justify-content: space-between;
	margin-top: 209px;
}

.reviewsText{
	color: var(--TEXT-CLR, #5E6282);
	line-height: 32px;	
}

.reviewsName{
	color: var(--TEXT-CLR, #5E6282);
	font-size: 19px;
	font-weight: 600;
	line-height: normal;
	margin: 34px 0 5px 0;
}

.reviewsAddress{
	font-size: 14px;
	line-height: normal;
	color: var(--TEXT-CLR, #5E6282);
}

.reviewsDescr{
	padding: 28px 68px 34px 34px;
	border-radius: 10px;
	background: var(--white, #FFF);
	box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
	
}

.airlines{
	display: flex;
	justify-content: space-around;
	margin-top: 118px;
	margin-bottom: 124px;
	align-items: center;
}

.subscribe{
	border-radius: 129px 20px 20px 20px;
	background: rgba(223, 215, 249, 0.2);
	padding: 79px 145px 79px 145px;
}

.subscribeText{
	color: var(--TEXT-CLR, #5E6282);
	text-align: center;
	font-size: 33px;
	font-weight: 600;
	line-height: 54px;
}

.email{
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-top: 74px;
}

.emailInp {
    padding: 25px 281px 26px 76px;
    border-radius: 10px;
    background: var(--white, #FFF);
    border: none;
    color: var(--TEXT-COLOR, #39425D);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    background-image: url(../image/mail1.svg);
    background-repeat: no-repeat;
    background-position: 5%;
}

.emailBtn{
	background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
	border-radius: 10px;
	border: none;
	padding: 23px 50px 23px 50px;
	color: var(--white, #FFF);
	text-align: center;
	font-family: Open Sans;
	font-size: 17px;
	font-weight: 600;
}

.footer{
	margin-top: 187px;
}

.footerWrapper{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.rights{
	margin: 86px 0 79px 0;
	margin-top: 72px;
	text-align: center;
	color: var(--TEXT-CLR, #5E6282);
	font-size: 14px;
	line-height: 124.5%;	
}

.footerTitle{
	color: var(--1st, #181E4B);
	font-size: 44px;
}

.footerBook{
	color: var(--TEXT-CLR, #5E6282);
	font-size: 13px;
	line-height: 124.5%;
}

.footerList{
	list-style: none;
	color: var(--TEXT-CLR, #5E6282);
	font-size: 18px;
	line-height: 124.5%;
	
}

.footerTitleName{
	margin-bottom: 34px;
	color: var(--black, #080809);
	font-size: 21px;
	font-weight: 700;
	line-height: 124.5%;
}

.discover{
	color: var(--TEXT-CLR, #5E6282);
	font-size: 20px;
	line-height: 124.5%;
	letter-spacing: 0.1px;
	margin-top: 26px;
}

.apple{
	margin-left: 40px;
	margin-top: 10px;
}

.contactsImages{
	display: flex;
	justify-content: left;
}

.footerListText{
	padding-bottom: 14px;
}

.mailImg{
	top: -90px;
	right: -165px;
	position: relative;
	float: right;
}

.photo{
	position: relative;
	top: -5px;
	left: -68px;
}

@media screen and (max-width: 1279px) and (min-width: 1025px) {

	.menu{
		display: flex;
		flex-wrap: wrap;
	}


	.containerForHeader{
		padding-top: 48px;
		background: none;
		background-repeat: no-repeat;
	}
	
	.header{
		padding-bottom: 105px;
		background: none;
	}

	.navMenu{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	.offerDescr{
		display: flex;
		flex-wrap: wrap;
	}

	.topHolder{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.book{
		display: flex;
		flex-wrap: wrap;
	}
	.airlines{
		display: flex;
		flex-wrap: wrap;
	}
	.email{
		display: flex;
		flex-wrap: wrap;
	}
	.footerWrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.reviewsDescr{
		padding: 0 68px 34px 34px;
	}
	.store{
		position: relative;
		left: 10px;
		top: 40px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 900px) {

	.container {
		margin-left: 5em;
		margin-right: 5em;
	}

	.menu{
		display: flex;
		flex-wrap: wrap;
	}


	.containerForHeader{
		padding-top: 48px;
		background: none;
		background-repeat: no-repeat;
	}
	
	.header{
		padding-bottom: 105px;
		background: none;
	}

	/* .customization{
		position: relative;
		left: 300px;
		top: 20px;
	} */

	.navMenu{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-left: 5em;
	}

	.offerDescr{
		display: flex;
		flex-wrap: wrap;
	}

	.topHolder{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.book{
		display: flex;
		flex-wrap: wrap;
	}
	.airlines{
		display: flex;
		flex-wrap: wrap;
	}
	.email{
		display: flex;
		flex-wrap: wrap;
	}
	.footerWrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.reviewsDescr{
		padding: 0 68px 34px 34px;
	}
	/* .store{
		position: relative;
		left: 10px;
		top: 40px;
	} */

	
	.mailImg{
		top: -110px;
		right: -140px;
		position: relative;
		float: right;
	}

}



	@media screen and (max-width: 899px) and (min-width: 768px) {

		.container {
			margin-left: 5em;
			margin-right: 5em;
		}
	

		.menu{
			display: flex;
			flex-wrap: wrap;
		}

		.containerForHeader{
			padding-top: 48px;
			background: none;
			background-repeat: no-repeat;
		}
		
		.header{
			padding-bottom: 105px;
			background: none;
		}

		.navMenu{
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			margin-left: 2em;

		}

		.menuTitle{
			margin-right: 20px;
		}
	
		.offerDescr{
			display: flex;
			flex-wrap: wrap;
		}
	
		.topHolder{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.book{
			display: flex;
			flex-wrap: wrap;
		}
		.airlines{
			display: flex;
			flex-wrap: wrap;
		}
		.email{
			display: flex;
			flex-wrap: wrap;
		}
		.footerWrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.reviewsDescr{
			padding: 0 68px 34px 34px;
		}
		.customization{
			margin-top: 30px;
		}
		.events{
			margin-top: 30px;
		}
		/* .store{
			position: relative;
			left: 100px;
			top: 30px;
		} */

		.mailImg{
			top: -110px;
			right: -170px;
			position: relative;
			float: right;
		}
		.flights {
			padding: 10px 35px 10px 45px;
		}
	}

	@media screen and (max-width: 767px) {

		.main{
			margin-top: 5em;
		}

		.topSubheading{
			margin-top: 4em;
		}

		.menuHolder{
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		.container {
			margin-left: 2em;
			margin-right: 5em;
		}

		.flights {
			padding: 1px 1px 1px 1px;
		}
	

		.menu{
			display: flex;
			flex-wrap: wrap;
			margin-left: 7em;
		}

		.containerForHeader{
			padding-top: 0;
			background: none;
			background-repeat: no-repeat;
		}
		
		.header{
			padding-bottom: 105px;
			background: none;
		}

		.navMenu{
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}

		.menuTitle{
			margin-right: 20px;
		}
	
		.offerDescr{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			/* margin-left: 10em; */
		}
	
		.topHolder{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.book{
			display: flex;
			flex-wrap: wrap;
			margin-top: 4em;
		}
		.airlines{
			display: flex;
			flex-wrap: wrap;
			margin-top: 4em;
		}
		.email{
			display: flex;
			flex-wrap: wrap;
		}
		.footerWrapper{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.reviewsDescr{
			padding: 0 68px 34px 34px;
		}

		.reviews{
			margin-top: 4em;
		}

		.customization{
			margin-top: 30px;
		}
		.events{
			margin-top: 30px;
		}
		.flights{
			padding: 0;
		}

		.mailImg{
			top: -110px;
			right: -60px;
			position: relative;
			float: right;
		}

		.subscribeText{
			font-size: 16px;
			line-height: normal;
			text-align: left;
		}

		.subscribe{
			padding: 80px 30px 0 40px;
		}

		.mainHeading{
			font-size: 32px;
			line-height: normal;
			letter-spacing: normal;
		}

		.maidDesc{
			line-height: normal;
		}

		.emailInp {
			padding: 25px 35px 26px 76px;
		}

		.reviewsText{
			line-height: normal;
		}

		.footerWrapper{
			display: flex;
			flex-wrap: wrap;
		}

		.footerText{
			margin-left: 1em;
			margin-bottom: 2em;
		}

		.store{
			margin-left: 3em;
			margin-top: 2em;
		}

		.footer{
			margin-top: 4em;
		}
	

	}
